<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modalCreate">

    <div id="modalCreateProduct" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">x</button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hidden" id="modal-alert-danger"></div>
                    <form id="frmCreateProduct" enctype="multipart/form-data">
                        <fieldset class="row g-3">
                            <div class="mb-3 col-md-6">
                                <div class="form-group row">
                                    <label for="productName" class="col-sm-12 col-form-label">Product</label>
                                    <div class="col-sm-12">
                                        <input type="text" id="productName" name="productName" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="productPrice" class="col-sm-12 col-form-label">Price</label>
                                    <div class="col-sm-12">
                                        <input type="text" id="productPrice" name="productPrice"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="description" class="col-sm-12 col-form-label">Description</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="description" name="description"/>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <section>
                                    <div class="wrapper">
                                        <div class="image-preview">
                                            <canvas id="canvas"></canvas>
                                        </div>
                                        <div class="content">
                                            <div class="icon">
                                                <i class="fas fa-cloud-upload-alt"></i>
                                            </div>
                                            <div class="text">
                                                No file chosen, yet!
                                            </div>
                                            <div class="text">
                                                Max file size = 2MB
                                            </div>
                                        </div>
                                        <div class="clear-image-preview">

                                        </div>
                                        <div class="file-name">
                                            Change image
                                        </div>
                                    </div>
                                    <input type="file" id="imageFile" accept="image/jpeg, image/png" hidden/>
                                </section>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary">
                        Save
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block th:fragment="modalUpdate">
    <!-- Modal Update -->
    <div id="modalUpdateProduct" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Update Product</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hidden">

                    </div>
                    <form method="post" id="frmUpdateProduct">
                        <div class="row">
                            <input type="text" class="form-control" id="idUp" name="idUp" hidden>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-4 pe-1">
                                <label for="nameUp">Product</label>
                                <input type="text" class="form-control" id="nameUp" name="nameUp"/>
                            </div>
                            <div class="col-lg-4 px-1">
                                <label for="priceUp">Price</label>
                                <input type="text" class="form-control" id="priceUp" name="priceUp"/>
                            </div>
                            <div class="col-lg-4 ps-1">
                                <label for="descriptionUp">Description</label>
                                <input type="text" class="form-control" id="descriptionUp" name="descriptionUp"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnUpdate" class="btn btn-secondary">
                        <i class="fas fa-pencil-alt"></i>
                        Update
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="modalLogout">
    <!-- Modal Logout -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</th:block>

