<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Products List</title>

    <th:block th:replace="head :: head"></th:block>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <th:block th:replace="template :: sidebar"></th:block>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Top bar -->
                <th:block th:replace="template :: topbar"></th:block>
                <!-- End of Top bar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-flex justify-content-between">
                        <div>
                            <h1 class="h3 mb-2 text-gray-800">Product Details</h1>
                        </div>
                        <div>
                            <button type="button" id="btnShowCreateModal" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modalCreateProduct">Create new product
                            </button>
                        </div>
                    </div>

                    <!-- DataTales Example -->
                    <th:block th:replace="product/tbProduct :: tbProductList"/>

                    <div class="loader hide"></div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- The Creation Modal -->

            <th:block th:replace="product/allModal :: modalCreate"/>

            <th:block th:replace="product/allModal :: modalUpdate"/>


            <!-- Footer -->
            <th:block th:replace="template :: footer"/>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Logout Modal-->
    <th:block th:replace="allModal :: modalLogout"></th:block>

    <th:block th:replace="product/productJs :: script"></th:block>

</body>

</html>