<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="script">
    <!-- Bootstrap core JavaScript-->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin-2.min.js"></script>

    <script src="/assets/sweetalert2/v11.7.0/sweetalert2.min.js"></script>
    <script src="/assets/jquery-validate/v1.19.5/jquery.validate.min.js"></script>

    <!-- Page level plugins -->
    <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/assets/js/demo/datatables-demo.js"></script>
    <script src="/assets/js/appBase.js"></script>

    <script>
        const page = {
            urls: {
                getAllProducts: AppBase.API_PRODUCT,
                createProduct: AppBase.API_PRODUCT,
                updateProduct: AppBase.API_PRODUCT + "/",
                deleteProduct: AppBase.API_PRODUCT + "/delete/"
            },
            elements: {},
            commands: {},
            loadData: {},
            dialogs: {
                elements: {},
                commands: {}
            }
        }

        let product = {};

        page.elements.loader = $(".loader");

        page.elements.btnShowCreateModal = $("#btnShowCreateModal");
        page.elements.btnSave = $("#btnSave");
        page.elements.btnShowUpdateProduct = $(".btnShowUpdateProduct");
        page.elements.btnUpdate = $("#btnUpdate");
        page.elements.btnLogout = $('#btnLogout');

        page.elements.tbProductBody = $('#tbListProducts tbody');

        page.dialogs.elements.modalCreateProduct = $("#modalCreateProduct");
        page.dialogs.elements.modalUpdateProduct = $("#modalUpdateProduct");

        page.dialogs.elements.frmUpdateProduct = $("#frmUpdateProduct");
        page.dialogs.elements.frmCreateProduct = $("#frmCreateProduct");
        page.dialogs.elements.btnCreateProduct = $("#btnCreateProduct");

        page.elements.idUp = $("#idUp");
        page.elements.nameUp = $("#nameUp");
        page.elements.priceUp = $("#priceUp");
        page.elements.descriptionUp = $("#descriptionUp");

        page.dialogs.elements.btnRemoveImg = $("#btnRemoveImg");
        page.dialogs.elements.wrapper = $("section .wrapper");
        page.dialogs.elements.productId = $("#productId");
        page.dialogs.elements.productName = $("#productName");
        page.dialogs.elements.productPrice = $("#productPrice");
        page.dialogs.elements.description = $("#description");
        page.dialogs.elements.imageFile = $("#imageFile");
        page.dialogs.elements.wrapperContent = $("section .wrapper .content");
        page.dialogs.elements.imagePreview = $("section .image-preview canvas");
        page.dialogs.elements.canvas = $("#canvas");
        page.dialogs.elements.context = page.dialogs.elements.canvas[0].getContext('2d');
        page.dialogs.elements.imagePreview.css("display", "none");
        page.dialogs.elements.divImagePreview = $("div.image-preview, div.file-name");
        page.dialogs.elements.btnClearImagePreview = $(".clear-image-preview i");

        page.loadData.getAllProducts = () => {
            return $.ajax({
                type: "GET",
                url: page.urls.getAllProducts,
            }).done((data) => {

                $.each(data, (i, item) => {
                    page.commands.renderProduct(item);
                })

            }).fail((err) => {
                console.log(err)
            }).always(function () {
                page.elements.loader.addClass("hide");
                page.elements.btnSave.prop('disabled', false);
            });
        }

        page.commands.showCreateModal = () => {
            page.dialogs.elements.modalCreateProduct.modal('show');
        }

        page.commands.showUpdateModal = function () {
            page.dialogs.elements.modalUpdateProduct.modal('show');
        }

        page.commands.createProduct = () => {
            page.elements.loader.removeClass("hide");
            page.elements.btnSave.prop('disabled', true);

            let formData = new FormData();
            formData.append("name", page.dialogs.elements.productName.val().toString());
            formData.append("price", page.dialogs.elements.productPrice.val());
            formData.append("description", page.dialogs.elements.description.val().toString());
            formData.append("file", page.dialogs.elements.imageFile[0].files[0]);

            $.ajax({
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                url: page.urls.createProduct,
                data: formData
            }).done((data) => {
                page.commands.renderProduct(data);

                AppBase.successAlert("Add product success!");

                page.dialogs.elements.modalCreateProduct.modal('hide');

            }).fail((errs) => {
                let containerErr = document.getElementById("modal-alert-danger")
                containerErr.style.display = "block";
                for (let err in errs.responseJSON){
                    let errUpper = err.charAt(0).toUpperCase() + err.slice(1)
                    let alert = `<label id="product${errUpper}-error" class="error" for="product${errUpper}">${errs.responseJSON[err]}</label>`
                    containerErr.insertAdjacentHTML("beforeend", alert);
                }
                // console.log(err.responseJSON.name)
                AppBase.errorAlert("Add product fail!");
            }).always(function () {
                page.elements.loader.addClass("hide");
                page.elements.btnSave.prop('disabled', false);
            });
        }

        page.commands.updateProduct = () => {
            let id = page.elements.idUp.val();
            let productDTO = {
                id,
                name: page.elements.nameUp.val(),
                price: page.elements.priceUp.val(),
                description: page.elements.descriptionUp.val()
            }
            console.log(productDTO)
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "PATCH",
                url: page.urls.updateProduct + id,
                data: JSON.stringify(productDTO)
            })
                .done((data) => {
                    let currentRow = $("#tr_" + id);
                    let newRow = page.commands.renderProduct(data);
                    currentRow.replaceWith(newRow);

                    AppBase.successAlert("Update product success!");
                    page.dialogs.elements.modalUpdateProduct.modal("hide");
                })
                .fail((error) => {
                    console.log(error);
                    AppBase.errorAlert("Update product fail!");
                })
        }

        page.initializeControlEvent = () => {

            page.elements.btnShowCreateModal.on("click", function () {
                page.commands.showCreateModal();
            });

            $(".btnShowUpdateProduct").on("click", function () {
                let id = $(this).data("id");
                page.commands.findProductById(id).then(() => {
                    page.elements.idUp.val(product.id);
                    page.elements.nameUp.val(product.name);
                    page.elements.priceUp.val(product.price);
                    page.elements.descriptionUp.val(product.description);
                })
                page.commands.showUpdateModal();
            });

            // page.dialogs.commands.updateProduct();
            //
            // page.commands.showUpdateProduct();
            //
            page.commands.deleteProduct();

            page.elements.btnSave.on("click", () => {
                page.dialogs.elements.frmCreateProduct.trigger("submit");
            })

            page.elements.btnUpdate.on("click", () => {
                page.dialogs.elements.frmUpdateProduct.trigger("submit");
            })

            page.dialogs.elements.divImagePreview.on("click", function () {
                page.dialogs.elements.imageFile.trigger("click");
            });

            page.dialogs.elements.imageFile.on("change", function () {
                page.dialogs.commands.changeImagePreview();
            });

            page.elements.btnLogout.on('click', () => {
                location.href = '/logout';
            })
        }

        $(() => {
            page.loadData.getAllProducts().then(function () {
                page.initializeControlEvent();
            });

        });

        page.commands.deleteProduct = () => {
            $(".btnShowDeleteProduct").on("click", function () {
                let id = $(this).data("id");
                page.commands.findProductById(id).then(() => {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                headers: {
                                    "accept": "application/json",
                                    "content-type": "application/json"
                                },
                                type: "PATCH",
                                url: page.urls.deleteProduct + id,
                                data: JSON.stringify(product)
                            })
                                .done((data) => {
                                    $("#tr_" + id).remove();
                                    AppBase.successAlert("Delete product success!");
                                })
                                .fail((error) => {
                                    console.log(error)
                                    AppBase.errorAlert("Can't delete this product!");
                                })
                        }
                    })
                })
            });
        }

        page.commands.findProductById = (id) => {
            return $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getAllProducts + "/" + id
            })
                .done((data) => {
                    product = data;
                })
                .fail((error) => {
                    console.log(error)
                })
        }

        page.dialogs.elements.modalUpdateProduct.on("hidden.bs.modal", () => {
            page.dialogs.elements.frmUpdateProduct[0].reset();
            page.dialogs.elements.frmUpdateProduct.validate().resetForm();
        })

        page.dialogs.elements.modalCreateProduct.on("hidden.bs.modal", () => {
            page.dialogs.elements.frmCreateProduct[0].reset();
            page.dialogs.elements.frmCreateProduct.validate().resetForm();
        })

        page.dialogs.elements.frmCreateProduct.validate({
            rules: {
                productName: {
                    required: true,
                    minlength: 5
                },
                productPrice: {
                    required: true,
                    number: true,
                    min: 10
                }
            },
            messages: {
                productName: {
                    required: "Product name is required.",
                    minlength: "Product name must be more than 4 letters"
                },
                productPrice: {
                    required: "Product price is required.",
                    name: "Please fill only number",
                    min: "Minimum price is 10$",
                }
            },
            errorLabelContainer: "#modalCreateProduct .modal-alert-danger",
            errorPlacement: function (error) {
                error.appendTo("#modalCreateProduct .modal-alert-danger");
            },
            showErrors: function () {
                if (this.numberOfInvalids() > 0) {
                    $("#modalCreateProduct .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalCreateProduct .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmCreateProduct input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                page.commands.createProduct();
            }
        })

        page.dialogs.elements.frmUpdateProduct.validate({
            rules: {
                nameUp: {
                    required: true,
                    minlength: 5
                },
                priceUp: {
                    required: true,
                    number: true,
                    min: 10
                }
            },
            messages: {
                nameUp: {
                    required: "Product name is required.",
                    minlength: "Product name must be more than 4 letters"
                },
                priceUp: {
                    required: "Product price is required.",
                    name: "Please fill only number",
                    min: "Minimum price is 10$",
                }
            },
            errorLabelContainer: "#modalUpdateProduct .modal-alert-danger",
            errorPlacement: function (error) {
                error.appendTo("#modalUpdateProduct .modal-alert-danger");
            },
            showErrors: function () {
                if (this.numberOfInvalids() > 0) {
                    $("#modalUpdateProduct .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalUpdateProduct .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmUpdateProduct input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                page.commands.updateProduct();
            }
        })

        page.commands.renderProduct = (obj) => {
            let cloudinaryServer = 'https://res.cloudinary.com/dsmffep5o/image/upload';
            let BASE_SCALE_IMAGE = "c_limit,w_150,h_100,q_100";
            let folderName = obj.folderName;
            let fileName = obj.fileName;

            let avatarUrl = cloudinaryServer + '/' + BASE_SCALE_IMAGE + '/' + folderName + '/' + fileName;

            let str = `
                <tr id="tr_${obj.id}">
                    <td>${obj.id}</td>
                    <td>
                        <img src="${avatarUrl}" alt="${fileName}" class="img"/>
                    </td>
                    <td>${obj.name}</td>
                    <td>${obj.price}</td>
                    <td>${obj.description}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-secondary btnShowUpdateProduct" data-id="${obj.id}">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-danger btnShowDeleteProduct" data-id="${obj.id}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            `;

            page.elements.tbProductBody.prepend(str)
        }
        page.dialogs.commands.changeImagePreview = () => {
            let imageFile = page.dialogs.elements.imageFile[0].files[0];

            if (imageFile) {
                let reader = new FileReader();

                reader.readAsDataURL(imageFile);

                reader.onload = function (e) {
                    if (e.target.readyState === FileReader.DONE) {
                        page.dialogs.commands.loadImageToCanvas(imageFile);
                    }
                }
            } else {
                page.dialogs.elements.clearImagePreview();
            }
        }
        page.dialogs.commands.loadImageToCanvas = (imageFile) => {
            page.dialogs.elements.imagePreview.css("display", "");
            page.dialogs.elements.wrapper.addClass("active");
            page.dialogs.elements.wrapperContent.css("opacity", 0);

            let imageObj = new Image();

            imageObj.onload = function () {
                page.dialogs.elements.context.canvas.width = imageObj.width;
                page.dialogs.elements.context.canvas.height = imageObj.height;
                page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
            };

            imageObj.src = URL.createObjectURL(imageFile)
        }

    </script>
</th:block>