
footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    min-height: 75px;
    padding: 10px;
}

.footer-success {
    background-color: #d1e7dd;
    color: #397358;
}

.footer-error {
    background-color: #f8d7da;
    color: #88252c;
}

.show {
    display: block !important;
}

.hide, .hidden {
    display: none;
}

.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

label.error {
    color: #842029;
    display: list-item;
}

.img{
    width: 100px;
    height: 120px;
}

.img-shop {
    width: 150px;
    height: 200px;
}
.error403 {
    background-image: url("/static/assets/img/403.png");
    width: 100%;
    height: 100%;
}