<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="script">
    <!-- Bootstrap core JavaScript-->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin-2.min.js"></script>

    <script src="/assets/sweetalert2/v11.7.0/sweetalert2.min.js"></script>
    <script src="/assets/jquery-validate/v1.19.5/jquery.validate.min.js"></script>

    <!-- Page level plugins -->
    <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/assets/js/demo/datatables-demo.js"></script>
    <script src="/assets/js/appBase.js"></script>
    <script>
        const page = {
            urls: {
                getAllCustomers: AppBase.API_CUSTOMER,
                getAllCustomersNotId: AppBase.API_CUSTOMER + "/recipients-list/",
                getCustomer: AppBase.API_CUSTOMER + "/",
                deleteCustomer: AppBase.API_CUSTOMER + "/delete/",
                doDeposit: AppBase.API_DEPOSIT,
                doWithdraw: AppBase.API_WITHDRAW,
                doTransfer: AppBase.API_TRANSFER,
                getAllTransfers: AppBase.API_TRANSFERS
            },
            elements: {},
            commands: {},
            loadData: {},
            dialogs: {
                elements: {},
                commands: {}
            }
        }

        const vApi = {
            urls: {
                getAllProvinces: "https://vapi.vnappmob.com/api/province/",
                getAllDistricts: "https://vapi.vnappmob.com/api/province/district/",
                getAllWards: "https://vapi.vnappmob.com/api/province/ward/"
            }
        }

        let customer = {};

        page.elements.tbCustomersBody = $("#tbCustomer tbody");
        page.elements.tbTransferHistoryBody = $("#tbTransferHistory tbody");
        page.elements.selectOptionProvinceCre = $("#provinceCre");
        page.elements.selectOptionDistrictCre = $("#districtCre");
        page.elements.selectOptionWardCre = $("#wardCre");

        page.elements.btnShowUpdate = $(".btnShowUpdate");
        page.elements.btnShowDeposit = $(".btnShowDeposit");
        page.elements.btnShowWithdraw = $(".btnShowWithdraw");
        page.elements.btnShowTransfer = $(".btnShowTransfer");
        page.elements.btnShowDelete = $(".btnShowDelete");

        page.elements.btnShowCreateModal = $("#btnShowCreateModal");
        page.elements.btnShowTransferHistoryModal = $("#btnShowTransferHistoryModal");

        page.elements.btnCreate = $("#btnCreate");
        page.elements.btnUpdate = $("#btnUpdate");
        page.elements.btnDeposit = $("#btnDeposit");
        page.elements.btnWithdraw = $("#btnWithdraw");
        page.elements.btnTransfer = $("#btnTransfer");

        page.elements.closeFooter = $("#closeFooter");

        page.elements.frmCreateCustomer = $("#frmCreateCustomer");
        page.elements.frmTransfer = $("#frmTransfer");
        page.elements.frmWithdraw = $("#frmWithdraw");
        page.elements.frmDeposit = $("#frmDeposit");
        page.elements.frmUpdateCustomer = $("#frmUpdateCustomer");

        page.elements.idUp = $("#idUp");
        page.elements.fullNameUp = $("#fullNameUp");
        page.elements.emailUp = $("#emailUp");
        page.elements.phoneUp = $("#phoneUp");
        page.elements.addressUp = $("#addressUp");

        page.elements.provinceUp = $("#provinceUp");
        page.elements.districtUp = $("#districtUp");
        page.elements.wardUp = $("#wardUp");

        page.elements.addressCre = $("#addressCre");
        page.elements.phoneCre = $("#phoneCre");
        page.elements.emailCre = $("#emailCre");
        page.elements.fullNameCre = $("#fullNameCre");

        page.elements.idDep = $("#idDep");
        page.elements.fullNameDep = $("#fullNameDep");
        page.elements.balanceDep = $("#balanceDep");

        page.elements.idWith = $("#idWith");
        page.elements.fullNameWith = $("#fullNameWith");
        page.elements.balanceWith = $("#balanceWith");

        page.elements.recipientId = $("#recipientId");
        page.elements.idCustomerSend = $("#idCustomerSend");
        page.elements.fullNameSend = $("#fullNameSend");
        page.elements.emailSend = $("#emailSend");
        page.elements.balanceSend = $("#balanceSend");

        page.elements.transferAmountTran = $("#transferAmountTran");
        page.elements.transactionAmountTran = $("#transactionAmountTran");
        page.elements.transactionAmountDep = $("#transactionAmountDep");
        page.elements.transactionAmountWith = $("#transactionAmountWith");

        page.elements.footer = $("footer");

        page.dialogs.elements.modalUpdate = $("#modalUpdate");
        page.dialogs.elements.modalCreate = $("#modalCreate");
        page.dialogs.elements.modalDeposit = $("#modalDeposit");
        page.dialogs.elements.modalWithdraw = $("#modalWithdraw");
        page.dialogs.elements.modalTransfer = $("#modalTransfer");
        page.dialogs.elements.modalTransferHistory = $("#modalTransferHistory");


        function addEventShowFooter() {
            $('#tbCustomer tbody').on('click', 'tr', function () {
                page.elements.footer.removeClass("hidden").addClass("show");
                let id = $(this).data("id");
                console.log(id)
            });
        }

        addEventShowFooter();

        page.elements.closeFooter.on("click", () => {
            page.elements.footer.removeClass("show").addClass("hidden");
        })

        page.commands.getAllTransferHistory = () => {
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getAllTransfers
            })
                .done((data) => {
                    $.each(data, (i, transfer) => {
                        let str = page.commands.renderTransferHistory(transfer);
                        page.elements.tbTransferHistoryBody.append(str);
                    })
                })
                .fail((error) => {
                    console.log(error);
                });
        }

        page.commands.getAllProvinces = () => {
            $.ajax({
                type: "GET",
                url: vApi.urls.getAllProvinces
            })
                .done((data) => {
                    page.elements.selectOptionProvinceCre.append(`<option disabled selected>--Select your province--</option>`);
                    $.each(data.results, (i, item) => {
                        let pro = page.commands.renderSelectOptionProvince(item);
                        page.elements.selectOptionProvinceCre.append(pro);
                    })
                    page.commands.addEventChangeProvince();
                })
                .fail((error) => {
                    console.log(error)
                    AppBase.errorAlert("Can't find provinces list!");
                })
        }

        page.commands.getAllDistrictsByProvinceId = (id) => {
            $.ajax({
                type: "GET",
                url: vApi.urls.getAllDistricts + id
            })
                .done((data) => {
                    page.elements.selectOptionDistrictCre.empty();
                    $.each(data.results, (i, item) => {
                        let dis = page.commands.renderSelectOptionDistrict(item);
                        page.elements.selectOptionDistrictCre.append(dis);
                    })
                    page.commands.getAllWardsByDistrictId(page.elements.selectOptionDistrictCre.val());
                    page.commands.addEventChangeDistrict();
                })
                .fail((error) => {
                    AppBase.errorAlert("Can't find districts list!");
                })
        }

        page.commands.getAllWardsByDistrictId = (id) => {
            $.ajax({
                type: "GET",
                url: vApi.urls.getAllWards + id
            })
                .done((data) => {
                    page.elements.selectOptionWardCre.empty();
                    $.each(data.results, (i, item) => {
                        let war = page.commands.renderSelectOptionWard(item);
                        page.elements.selectOptionWardCre.append(war);
                    })
                    page.commands.addEventChangeWard();
                })
                .fail((error) => {
                    console.log(error)
                    AppBase.errorAlert("Can't find wards list!");
                })
        }

        page.commands.addEventChangeProvince = () => {
            let removed = false;
            page.elements.selectOptionProvinceCre.change(function () {
                let provinceId = page.elements.selectOptionProvinceCre.val();

                if (provinceId !== 0) {
                    if (!removed) {
                        $('#provinceCre option')[0].remove();
                        removed = !removed;
                    }
                }
                page.commands.getAllDistrictsByProvinceId(provinceId);
            })
        }

        page.commands.addEventChangeDistrict = () => {
            page.elements.selectOptionDistrictCre.change(function () {
                let districtId = $(this).val();
                page.commands.getAllWardsByDistrictId(districtId);
            })
        }

        page.commands.addEventChangeWard = () => {
            page.elements.selectOptionWardCre.change(function () {
                let wardId = $(this).val();
            })
        }

        page.commands.addEventShowModalUpdate = () => {
            $(".btnShowUpdate").on("click", function () {
                // page.elements.btnShowUpdate.on("click", function () {
                page.dialogs.elements.modalUpdate.modal("show");
                let customerId = $(this).data("id");

                page.commands.findById(customerId).then(() => {
                    page.elements.idUp.val(customer.id);
                    page.elements.fullNameUp.val(customer.fullName);
                    page.elements.emailUp.val(customer.email);
                    page.elements.phoneUp.val(customer.phone);
                    page.elements.addressUp.val(customer.locationRegionDTO.address);

                    let provinceId = customer.locationRegionDTO.provinceId;
                    let districtId = customer.locationRegionDTO.districtId;
                    let wardId = customer.locationRegionDTO.wardId;

                    $.ajax({
                        type: "GET",
                        url: vApi.urls.getAllProvinces
                    })
                        .done((data) => {
                            page.elements.provinceUp.append(`<option selected value="${customer.locationRegionDTO.provinceId}">${customer.locationRegionDTO.provinceName}</option>`);
                            $.each(data.results, (i, item) => {
                                if (item.province_id !== customer.locationRegionDTO.provinceId) {
                                    let pro = page.commands.renderSelectOptionProvince(item);
                                    page.elements.provinceUp.append(pro);
                                }
                            })
                        })

                    $.ajax({
                        type: "GET",
                        url: vApi.urls.getAllDistricts + provinceId
                    })
                        .done((data) => {
                            page.elements.districtUp.empty();
                            page.elements.districtUp.append(`<option selected value="${customer.locationRegionDTO.districtId}">${customer.locationRegionDTO.districtName}</option>`);
                            $.each(data.results, (i, item) => {
                                if (item.district_id !== customer.locationRegionDTO.districtId) {
                                    let dis = page.commands.renderSelectOptionDistrict(item);
                                    page.elements.districtUp.append(dis);
                                }
                            })
                        })
                        .fail((error) => {
                            console.log(error)
                            AppBase.errorAlert("Can't find districts list!");
                        })

                    $.ajax({
                        type: "GET",
                        url: vApi.urls.getAllWards + districtId
                    })
                        .done((data) => {
                            page.elements.wardUp.empty();
                            page.elements.wardUp.append(`<option selected value="${customer.locationRegionDTO.wardId}">${customer.locationRegionDTO.wardName}</option>`);
                            $.each(data.results, (i, item) => {
                                if (item.ward_id !== customer.locationRegionDTO.wardId) {
                                    let war = page.commands.renderSelectOptionWard(item);
                                    page.elements.wardUp.append(war);
                                }
                            })
                        })
                        .fail((error) => {
                            AppBase.errorAlert("Can't find wards list!");
                        })

                    page.elements.provinceUp.change(function () {
                        provinceId = page.elements.provinceUp.val();

                        $.ajax({
                            type: "GET",
                            url: vApi.urls.getAllDistricts + provinceId
                        })
                            .done((data) => {
                                page.elements.districtUp.empty();
                                $.each(data.results, (i, item) => {
                                    let dis = page.commands.renderSelectOptionDistrict(item);
                                    page.elements.districtUp.append(dis);
                                })

                                $.ajax({
                                    type: "GET",
                                    url: vApi.urls.getAllWards + page.elements.districtUp.val()
                                })
                                    .done((data) => {
                                        page.elements.wardUp.empty();
                                        $.each(data.results, (i, item) => {
                                            let war = page.commands.renderSelectOptionWard(item);
                                            page.elements.wardUp.append(war);
                                        })

                                        page.elements.wardUp.change(function () {
                                            wardId = $(this).val();
                                        })
                                    })
                                    .fail((error) => {
                                        AppBase.errorAlert("Can't find wards list!");
                                    })
                            })
                            .fail((error) => {
                                console.log(error)
                                AppBase.errorAlert("Can't find districts list!");
                            })
                    })

                    page.elements.districtUp.change(function () {
                        districtId = $(this).val();

                        $.ajax({
                            type: "GET",
                            url: vApi.urls.getAllWards + districtId
                        })
                            .done((data) => {
                                page.elements.wardUp.empty();
                                $.each(data.results, (i, item) => {
                                    let war = page.commands.renderSelectOptionWard(item);
                                    page.elements.wardUp.append(war);
                                })
                                page.elements.wardUp.change(function () {
                                    wardId = $(this).val();
                                })
                            })
                            .fail((error) => {
                                AppBase.errorAlert("Can't find wards list!");
                            })
                    })


                })
                    .catch(() => {
                        AppBase.errorAlert("Customer not found!", "error");
                    });
            })
        }

        page.commands.addEventShowModalDeposit = () => {
            $(".btnShowDeposit").on("click", function () {
                let customerId = $(this).data("id");

                page.commands.findById(customerId).then(() => {
                    page.elements.idDep.val(customer.id);
                    page.elements.fullNameDep.val(customer.name);
                    page.elements.balanceDep.val(customer.balance);

                    page.dialogs.elements.modalDeposit.modal("show");
                })
                    .catch(() => {
                        AppBase.errorAlert("Customer not found!", "error");
                    });
            })
        }

        page.commands.addEventShowModalWithdraw = () => {
            $(".btnShowWithdraw").on("click", function () {
                let customerId = $(this).data("id");

                page.commands.findById(customerId).then(() => {
                    page.elements.idWith.val(customer.id);
                    page.elements.fullNameWith.val(customer.name);
                    page.elements.balanceWith.val(customer.balance);

                    page.dialogs.elements.modalWithdraw.modal("show");
                })
                    .catch(() => {
                        AppBase.errorAlert("Customer not found!");
                    });
            })
        }

        page.commands.addEventShowModalTransfer = () => {
            $(".btnShowTransfer").on("click", function () {
                let senderId = +$(this).data("id");

                page.commands.findById(senderId).then(() => {
                    $.ajax({
                        headers: {
                            "accept": "application/json",
                            "content-type": "application/json"
                        },
                        type: "GET",
                        url: page.urls.getAllCustomersNotId + senderId
                    })
                        .done((data) => {
                            page.elements.recipientId.empty();

                            $.each(data, (i, item) => {
                                let str = page.commands.renderSelectOptionRecipient(item);
                                page.elements.recipientId.append(str);
                            })
                            page.elements.idCustomerSend.val(customer.id);
                            page.elements.fullNameSend.val(customer.name);
                            page.elements.emailSend.val(customer.email);
                            page.elements.balanceSend.val(customer.balance);
                            page.dialogs.elements.modalTransfer.modal("show");

                            page.commands.countTransferTransaction();
                        })
                        .fail((error) => {
                            console.log(error)
                            AppBase.errorAlert("Sender not found!");
                        })
                })
                    .catch(() => {
                        AppBase.errorAlert("Customer not found!");
                    });
            })
        }

        page.commands.addEventShowConfirmDelete = () => {
            $(".btnShowDelete").on("click", function () {
                let customerId = $(this).data("id");

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        page.commands.findById(customerId).then(() => {
                            $.ajax({
                                headers: {
                                    "accept": "application/json",
                                    "content-type": "application/json"
                                },
                                type: "PATCH",
                                url: page.urls.deleteCustomer + customerId,
                                data: JSON.stringify(customer)
                            })
                                .done((data) => {
                                    $("#tr_" + customerId).remove();

                                    AppBase.successAlert("Delete customer success!");
                                })
                                .fail((error) => {
                                    console.log(error)
                                    AppBase.errorAlert("Delete customer fail!");
                                })
                        }).catch(() => {
                            AppBase.errorAlert("Customer not found!");
                        })
                    }
                })
            })
        }

        page.commands.renderSelectOptionRecipient = (item) => {
            return `
                <option value="${item.id}">${item.fullName}</option>
                `;
        }

        page.commands.renderSelectOptionProvince = (item) => {
            return `<option value="${item.province_id}">${item.province_name}</option>`;
        }

        page.commands.renderSelectOptionDistrict = (item) => {
            return `<option value="${item.district_id}">${item.district_name}</option>`;
        }

        page.commands.renderSelectOptionWard = (item) => {
            return `<option value="${item.ward_id}">${item.ward_name}</option>`;
        }

        page.commands.renderTransferHistory = (transfer) => {
            return `
                    <tr>
                        <td>${transfer.id}</td>
                        <td>${transfer.senderDTO.id}</td>
                        <td>${transfer.senderDTO.fullName}</td>
                        <td>${transfer.recipientDTO.id}</td>
                        <td>${transfer.recipientDTO.fullName}</td>
                        <td>${transfer.transactionAmount}</td>
                        <td>${transfer.transferAmount}</td>
                    </tr>
                `;
        }

        page.commands.renderCustomer = (item) => {
            return `
                <tr id="tr_${item.id}" data-id="${item.id}">
                    <td class="text-end">${item.id}</td>
                    <td class="text-end">${item.fullName}</td>
                    <td class="text-end">${item.email}</td>
                    <td class="text-end">${item.phone}</td>
                    <td class="text-end">${item.balance}</td>
                    <td class="text-end">${item.locationRegionDTO.provinceName}</td>
                    <td class="text-end">${item.locationRegionDTO.districtName}</td>
                    <td class="text-end">${item.locationRegionDTO.wardName}</td>
                    <td class="text-end">${item.locationRegionDTO.address}</td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary btn-sm btnShowUpdate" data-id="${item.id}">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-success btn-sm btnShowDeposit" data-id="${item.id}">
                            <i class="fas fa-plus"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning btn-sm btnShowWithdraw" data-id="${item.id}">
                            <i class="fas fa-minus"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm btnShowTransfer" data-id="${item.id}">
                            <i class="fas fa-exchange-alt"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger btn-sm btnShowDelete" data-id="${item.id}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            `;
        }

        page.commands.findById = (customerId) => {
            return $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getCustomer + customerId
            })
                .done((data) => {
                    customer = data;
                })
                .fail((error) => {
                    console.log(error)
                })
        }

        page.commands.countTransferTransaction = () => {
            document.getElementById("transferAmountTran").addEventListener("input", () => {
                let transferAmount = page.elements.transferAmountTran.val(),
                    fees = 10,
                    feesAmount = +transferAmount * fees / 100,
                    transactionAmount = +transferAmount + feesAmount;

                page.elements.transactionAmountTran.val(transactionAmount);
            })
        }

        page.commands.createCustomer = () => {
            let fullName = page.elements.fullNameCre.val(),
                email = page.elements.emailCre.val(),
                phone = page.elements.phoneCre.val(),
                provinceId = page.elements.selectOptionProvinceCre.val(),
                provinceName = page.elements.selectOptionProvinceCre.find("option:selected").text(),
                districtId = page.elements.selectOptionDistrictCre.val(),
                districtName = page.elements.selectOptionDistrictCre.find("option:selected").text(),
                wardId = page.elements.selectOptionWardCre.val(),
                wardName = page.elements.selectOptionWardCre.find("option:selected").text(),
                address = page.elements.addressCre.val();

            let locationRegionDTO = {
                provinceId,
                provinceName,
                districtId,
                districtName,
                wardId,
                wardName,
                address
            }

            let customerCreateDTO = {
                fullName,
                email,
                phone,
                locationRegionDTO
            }

            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: page.urls.getAllCustomers,
                data: JSON.stringify(customerCreateDTO)
            })
                .done((data) => {
                    AppBase.successAlert("Create new customer success!");
                    customerCreateDTO = data;
                    let newRow = page.commands.renderCustomer(customerCreateDTO);
                    $("#tbCustomer tbody").prepend(newRow);
                    page.dialogs.elements.modalCreate.modal("hide");

                    page.commands.allAddEvent();

                })
                .fail((error) => {
                    console.log(error)
                    AppBase.errorAlert("Create new customer fail!");

                    let errors = error.responseJSON;
                    $("#modalCreateCustomer .modal-alert-danger").empty().removeClass('hidden').addClass('show');

                    $.each(errors, (k, v) => {
                        let subK = k.replaceAll('locationRegion.', '');
                        let str = `<label id="${subK}-error" class="error" for="${subK}Cre">${v}</label>`;
                        $("#modalCreateCustomer .modal-alert-danger").append(str);
                    })
                })
        }

        page.commands.updateCustomer = () => {
            let id = +page.elements.idUp.val(),
                fullName = page.elements.fullNameUp.val(),
                email = page.elements.emailUp.val(),
                phone = page.elements.phoneUp.val(),
                provinceId = page.elements.provinceUp.val(),
                provinceName = page.elements.provinceUp.find("option:selected").text(),
                districtId = page.elements.districtUp.val(),
                districtName = page.elements.districtUp.find("option:selected").text(),
                wardId = page.elements.wardUp.val(),
                wardName = page.elements.wardUp.find("option:selected").text(),
                address = page.elements.addressUp.val();

            const locationRegionDTO = {
                provinceId,
                provinceName,
                districtId,
                districtName,
                wardId,
                wardName,
                address
            }

            const customerUpdateDTO = {
                id,
                fullName,
                email,
                phone,
                locationRegionDTO
            }

            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "PATCH",
                url: page.urls.getCustomer + id,
                data: JSON.stringify(customerUpdateDTO)
            })
                .done((data) => {
                    let currentRow = $("#tr_" + data.id);
                    let newRow = page.commands.renderCustomer(data);

                    currentRow.replaceWith(newRow);

                    AppBase.successAlert("Update customer success!");

                    page.commands.allAddEvent();

                    page.dialogs.elements.modalUpdate.modal("hide");
                })
                .fail((error) => {
                    AppBase.errorAlert("Update customer fail!");

                    let errors = error.responseJSON;
                    $("#modalUpdateCustomer .modal-alert-danger").empty().removeClass('hidden').addClass('show');

                    $.each(errors, (k, v) => {
                        let subK = k.replaceAll('locationRegion.', '');
                        let str = `<label id="${subK}-error" class="error" for="${subK}Cre">${v}</label>`;
                        $("#modalUpdateCustomer .modal-alert-danger").append(str);
                    })
                })
        }

        page.commands.deposit = () => {
            let transactionAmount = +page.elements.transactionAmountDep.val(),
                customerId = customer.id;

            let depositCreateDTO = {
                customerId,
                transactionAmount
            }

            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: page.urls.doDeposit,
                data: JSON.stringify(depositCreateDTO)
            })
                .done((data) => {
                    page.commands.findById(customerId).then(() => {

                        let currentRow = $("#tr_" + customer.id);
                        let newRow = page.commands.renderCustomer(customer);

                        currentRow.replaceWith(newRow);

                        page.dialogs.elements.modalDeposit.modal("hide");

                        AppBase.successAlert("Deposit success!");

                        page.commands.allAddEvent();
                    });

                })
                .fail((error) => {
                    AppBase.errorAlert("Deposit fail!");
                })
        }

        page.commands.withdraw = () => {
            let transactionAmount = +page.elements.transactionAmountWith.val(),
                customerId = customer.id;

            let withdrawCreateDTO = {
                customerId,
                transactionAmount
            }

            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: page.urls.doWithdraw,
                data: JSON.stringify(withdrawCreateDTO)
            })
                .done((data) => {
                    let currentRow = $("#tr_" + data.id);
                    let newRow = page.commands.renderCustomer(data);

                    currentRow.replaceWith(newRow);

                    page.dialogs.elements.modalWithdraw.modal("hide");

                    AppBase.successAlert("Withdraw success!");

                    page.commands.allAddEvent();
                })
                .fail((error) => {
                    AppBase.errorAlert("Withdraw fail!");
                })
        }

        page.commands.transfer = () => {
            let senderId = +page.elements.idCustomerSend.val(),
                recipientId = +page.elements.recipientId.val(),
                transferAmount = +page.elements.transferAmountTran.val();

            let transferCreateDTO = {
                senderId,
                recipientId,
                transferAmount
            }
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: page.urls.doTransfer,
                data: JSON.stringify(transferCreateDTO)
            })
                .done((data) => {
                    let sender = data.sender,
                        recipient = data.recipient;

                    let currentSenderRow = $("#tr_" + sender.id),
                        newSenderRow = page.commands.renderCustomer(sender);

                    currentSenderRow.replaceWith(newSenderRow);

                    let currentRecipientRow = $("#tr_" + recipient.id),
                        newRecipientRow = page.commands.renderCustomer(recipient);

                    currentRecipientRow.replaceWith(newRecipientRow);

                    page.dialogs.elements.modalTransfer.modal("hide");

                    AppBase.successAlert("Transfer success!");

                    page.commands.allAddEvent();
                })
                .fail((error) => {
                    console.log(error)
                    AppBase.errorAlert("Transfer fail!");
                })
        }

        page.elements.btnShowCreateModal.on("click", () => {
            page.commands.getAllProvinces();
            page.dialogs.elements.modalCreate.modal("show");
        })

        page.elements.btnShowTransferHistoryModal.on("click", () => {
            page.commands.getAllTransferHistory();
            page.dialogs.elements.modalTransferHistory.modal("show");
        })

        page.elements.btnCreate.on("click", () => {
            page.elements.frmCreateCustomer.trigger("submit");
        })

        page.elements.btnUpdate.on("click", () => {
            page.elements.frmUpdateCustomer.trigger("submit");
        })

        page.elements.btnDeposit.on("click", () => {
            page.elements.frmDeposit.trigger("submit");
        })

        page.elements.btnWithdraw.on("click", () => {
            page.elements.frmWithdraw.trigger("submit");
        })

        page.elements.btnTransfer.on("click", () => {
            page.elements.frmTransfer.trigger("submit");
        })

        page.dialogs.elements.modalCreate.on("hidden.bs.modal", () => {
            page.elements.frmCreateCustomer[0].reset();
            page.elements.frmCreateCustomer.validate().resetForm();
            page.elements.selectOptionProvinceCre.empty();
            page.elements.selectOptionDistrictCre.empty();
            page.elements.selectOptionWardCre.empty();
        })

        page.dialogs.elements.modalUpdate.on("hidden.bs.modal", () => {
            page.elements.frmUpdateCustomer[0].reset();
            page.elements.frmUpdateCustomer.validate().resetForm();
            page.elements.provinceUp.empty();
            page.elements.districtUp.empty();
            page.elements.wardUp.empty();
        })

        page.dialogs.elements.modalWithdraw.on("hidden.bs.modal", () => {
            page.elements.frmWithdraw[0].reset();
            page.elements.frmWithdraw.validate().resetForm();
        })

        page.dialogs.elements.modalDeposit.on("hidden.bs.modal", () => {
            page.elements.frmDeposit[0].reset();
            page.elements.frmDeposit.validate().resetForm();
        })

        page.dialogs.elements.modalTransfer.on("hidden.bs.modal", () => {
            page.elements.frmTransfer[0].reset();
            page.elements.frmTransfer.validate().resetForm();
        })

        page.dialogs.elements.modalTransferHistory.on("hidden.bs.modal", () => {
            $("#tbTransferHistory tbody").empty();
        })

        page.elements.frmCreateCustomer.validate({
            rules: {
                fullNameCre: {
                    required: true,
                    minlength: 4
                },
                emailCre: {
                    required: true,
                    email: false,
                    isValidEmail: true
                },
                phoneCre: {
                    required: true,
                    // isValidPhone: true
                },
                addressCre: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {
                fullNameCre: {
                    required: "Full name is required.",
                    minlength: "Full name must be more than 4 letters"
                },
                emailCre: {
                    required: "Email is required.",
                },
                phoneCre: {
                    required: "Phone number is required."
                },
                addressCre: {
                    required: "Address is required.",
                    minlength: "Address must be more than 5 letters"
                }
            },
            errorLabelContainer: "#modalCreate .modal-alert-danger",
            errorPlacement: function (error) {
                error.appendTo("#modalCreate .modal-alert-danger");
            },
            showErrors: function () {
                if (this.numberOfInvalids() > 0) {
                    $("#modalCreate .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalCreate .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmCreateCustomer input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                page.commands.createCustomer();
            }
        });

        page.elements.frmUpdateCustomer.validate({
            rules: {
                fullNameUp: {
                    required: true,
                    minlength: 4
                },
                emailUp: {
                    required: true,
                    email: false,
                    isValidEmail: true
                },
                phoneUp: {
                    required: true,
                    // isValidPhone: true
                },
                addressUp: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {
                fullNameUp: {
                    required: "Full name is required.",
                    minlength: "Full name must be more than 4 letters"
                },
                emailUp: {
                    required: "Email is required.",
                },
                phoneUp: {
                    required: "Phone number is required."
                },
                addressUp: {
                    required: "Address is required.",
                    minlength: "Address must be more than 5 letters"
                }
            },
            errorLabelContainer: "#modalUpdate .modal-alert-danger",
            errorPlacement: function (error, element) {
                error.appendTo("#modalUpdate .modal-alert-danger");
            },
            showErrors: function (errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    $("#modalUpdate .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalUpdate .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmUpdateCustomer input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                page.commands.updateCustomer();
            }
        });

        page.elements.frmDeposit.validate({
            rules: {
                transactionAmountDep: {
                    required: true,
                    number: true,
                    min: 10,
                    max: 1000000000
                }
            },
            messages: {
                transactionAmountDep: {
                    required: "Please fill your money to deposit.",
                    min: "Minimum amount to deposit is 10$",
                    max: "Maximum amount to deposit is 1.000.000.000$",
                    number: "Only number in this field!"
                }
            },
            errorLabelContainer: "#modalDeposit .modal-alert-danger",
            errorPlacement: function (error) {
                error.appendTo("#modalDeposit .modal-alert-danger");
            },
            showErrors: function () {
                if (this.numberOfInvalids() > 0) {
                    $("#modalDeposit .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalDeposit .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmDeposit input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                page.commands.deposit();
            }
        });

        page.elements.frmWithdraw.validate({
            rules: {
                transactionAmountWith: {
                    required: true,
                    number: true,
                    min: 10,
                    max: 1000000000,
                    isBiggerThanBalance: true
                }
            },
            messages: {
                transactionAmountWith: {
                    required: "Please fill your money to withdraw.",
                    min: "Minimum amount to withdraw is 10$",
                    max: "Maximum amount to withdraw is 1.000.000.000$",
                    number: "Only number in this field!"
                }
            },
            errorLabelContainer: "#modalWithdraw .modal-alert-danger",
            errorPlacement: function (error, element) {
                error.appendTo("#modalWithdraw .modal-alert-danger");
            },
            showErrors: function (errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    $("#modalWithdraw .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalWithdraw .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmWithdraw input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                page.commands.withdraw();
            }
        });

        page.elements.frmTransfer.validate({
            rules: {
                transferAmountTran: {
                    required: true,
                    number: true,
                    min: 10,
                    max: 1000000000,
                    isBiggerThanBalanceWithFee: true
                }
            },
            messages: {
                transferAmountTran: {
                    required: "Please fill your money to transfer.",
                    min: "Minimum amount to transfer is 10$",
                    max: "Maximum amount to transfer is 1.000.000.000$",
                    number: "Only number in this field!"
                }
            },
            errorLabelContainer: "#modalTransfer .modal-alert-danger",
            errorPlacement: function (error, element) {
                error.appendTo("#modalTransfer .modal-alert-danger");
            },
            showErrors: function (errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    $("#modalTransfer .modal-alert-danger").removeClass("hidden").addClass("show");
                } else {
                    $("#modalTransfer .modal-alert-danger").removeClass("show").addClass("hidden").empty();
                    $("#frmTransfer input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                page.commands.transfer();
            }
        });

        $.validator.addMethod("isValidEmail", function (value, element) {
            return this.optional(element) || /^[\w]+@([\w-]+\.)+[\w-]{2,6}$/i.test(value);
        }, "Invalid email! Example: abc@domain.xyz");

        // $.validator.addMethod("isValidPhone", function (value, element) {
        //     return this.optional(element) || /^(0?)(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}$/i.test(value);
        // }, "Invalid phone number! Example: 909298966 or 0909298966");

        $.validator.addMethod("isBiggerThanBalance", function (value, element) {
            return this.optional(element) || page.commands.checkBiggerThanBalance();
        }, "Withdraw amount must be less than your balance!");

        $.validator.addMethod("isBiggerThanBalanceWithFee", function (value, element) {
            return this.optional(element) || page.commands.checkBiggerThanBalanceWithFee();
        }, "Not enough money to do transfer!");


        page.commands.allAddEvent = () => {

            page.commands.addEventShowModalUpdate();

            page.commands.addEventShowModalDeposit();

            page.commands.addEventShowModalWithdraw();

            page.commands.addEventShowModalTransfer();

            page.commands.addEventShowConfirmDelete();
        }

        page.commands.allAddEvent();

        page.loadData.getAllCustomers = () => {
             return $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getAllCustomers
            })
                .done((data) => {
                    $.each(data, (i, item) => {
                        let str = page.commands.renderCustomer(item);
                        page.elements.tbCustomersBody.prepend(str);
                    })

                    page.commands.allAddEvent();
                })
                .fail((error) => {
                    console.log(error)
                })
        }


        $(() => {
            page.loadData.getAllCustomers().then(() => {
                page.commands.allAddEvent();
            });
        })

        page.commands.checkBiggerThanBalance = () => {
            let transactionAmount = +page.elements.transactionAmountWith.val(),
                balanceWith = +page.elements.balanceWith.val();
            return transactionAmount <= balanceWith;
        }

        page.commands.checkBiggerThanBalanceWithFee = () => {
            let transactionAmount = +page.elements.transferAmountTran.val(),
                balance = +page.elements.balanceSend.val(),
                feesAmount = transactionAmount * 10 / 100;
            return balance >= transactionAmount + feesAmount;
        }

        $('#btnLogout').on('click', () => {
            location.href = '/logout';
        })

    </script>
</th:block>