<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="tbCustomerList">
    <div class="card shadow mb-4">
        <div class="card-body container-fluid">
            <div class="table-responsive container-fluid">
                <table class="table-sm table-bordered" id="tbCustomer">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Full Name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">Balance</th>
                        <th class="text-center">Province</th>
                        <th class="text-center">District</th>
                        <th class="text-center">Ward</th>
                        <th class="text-center">Address</th>
                        <th class="text-center" colspan="5">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="tbSuspendedCustomerList">
    <div class="card shadow mb-4">
        <div class="card-body container-fluid">
            <div class="table-responsive container-fluid">
                <table class="table-sm table-bordered" id="tbSuspendedCustomer">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Full Name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">Balance</th>
                        <th class="text-center">Province</th>
                        <th class="text-center">District</th>
                        <th class="text-center">Ward</th>
                        <th class="text-center">Address</th>
                        <th class="text-center">Reactive</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>