<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="script">
    <!-- Bootstrap core JavaScript-->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin-2.min.js"></script>

    <script src="/assets/sweetalert2/v11.7.0/sweetalert2.min.js"></script>
    <script src="/assets/jquery-validate/v1.19.5/jquery.validate.min.js"></script>

    <!-- Page level plugins -->
    <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/assets/js/demo/datatables-demo.js"></script>
    <script src="/assets/js/appBase.js"></script>
    <script>
        const page = {
            urls: {
                signup: AppBase.API_SIGNUP
            },
            elements: {},
            commands: {},
            loadData: {},
            dialogs: {
                elements: {},
                commands: {}
            }
        }

        page.elements.usernameSup = $("#usernameSup");
        // page.elements.emailReg = $("#emailReg");
        page.elements.passwordSup = $("#passwordSup");
        // page.elements.rePasswordReg = $("#rePasswordReg");
        page.elements.btnSignup = $("#btnSignup");

        page.elements.frmSignup = $("#frmSignup");


        page.initializeControlEvent = () => {

            $('#btnLogout').on('click', () => {
                location.href = '/logout';
            })
        }

        $(() => {
            page.initializeControlEvent();
        })

        page.commands.signup = () => {
            let userDTO = {
                username: page.elements.usernameSup.val(),
                password: page.elements.passwordSup.val()
            }

            $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: "POST",
                url: page.urls.signup,
                data: JSON.stringify(userDTO)
            })
                .done((data) => {

                    AppBase.successAlert("Signup success!");

                    setTimeout(() => {
                        location.href = '/products';
                    }, 2000)
                })
                .fail((jqXHR) => {
                    console.log(jqXHR)
                    AppBase.errorAlert("Signup fail!");
                })
        }

        page.elements.frmSignup.validate({
            submitHandler: () => {
                page.commands.signup();
            }
        });

        // page.elements.btnSignup.on("click", () => {
        //     page.elements.frmSignup.trigger("submit");
        // })

    </script>

</th:block>